body {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: #434455;
  background: #e5e5e5;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.logo-top {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
/* Header nav */
.link-nav {
  list-style: none;
  color: #2e2f42;
  font-weight: 500;
}
.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}
.link-addres {
  list-style: none;
  color: #434455;
}
.link-addres:hover,
.link-addres:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
/* Footer */
.footer {
  background: #2e2f42;
}
.logo-bot {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}
.footer-text {
  color: #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
}
/* page-1 */
.hero {
  background-color: #2e2f42;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.servise-but {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.servise-but:hover,
.servise-but:focus {
  background: #404bbf;
}
.example {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.section-list {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* page-2 */
/* Buttons */
.nav-but {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
  background: #f4f4fd;
  text-decoration: none;
  cursor: pointer;
}
.nav-but:hover,
.nav-but:focus {
  color: #ffffff;
  background: #404bbf;
  cursor: pointer;
}
.nav-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.list-description {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
