:root {
  --text: #434455;
  --second-text: #2e2f42;
  --background: #ffffff;
  --logo: #4d5ae5;
  --logo-bac: #404bbf;
  --footer-text: #e7e9fc;
  --logo-bot: #f4f4fd;
  --border-header: #e7effc;
}
body {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: var(--text);
  background: var(--background);
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo);
  text-transform: uppercase;
}
.logo-top {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-text);
}
/* Header nav */
.link-nav {
  list-style: none;
  color: var(--second-text);
  font-weight: 500;
}
.link-nav:hover,
.link-nav:focus {
  color: var(--logo-bac);
}
.link-addres {
  list-style: none;
  color: var(--text);
}
.link-addres:hover,
.link-addres:focus {
  color: var(--logo-bac);
}
.address {
  font-style: normal;
}
/* Footer */
.footer {
  background: var(--second-text);
}
.logo-bot {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-bot);
}
.footer-text {
  color: var(--footer-text);
  font-size: 16px;
  line-height: 1.5;
}
/* page-1 */
.hero {
  background-color: var(--second-text);
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background);
}
.servise-but {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background);
  background: var(--logo);
  cursor: pointer;
}
.servise-but:hover,
.servise-but:focus {
  background: var(--logo-bac);
}
.example {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text);
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--second-text);
  text-transform: capitalize;
}
.section-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/* page-2 */
/* Buttons */
.nav-but {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--logo);
  background: var(--logo-bot);
  text-decoration: none;
  cursor: pointer;
}
.nav-but:hover,
.nav-but:focus {
  color: var(--background);
  background: var(--logo-bac);
  cursor: pointer;
}
.nav-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--second-text);
  letter-spacing: 0.02em;
}
.list-description {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--text);
}
